@import "../../styles/variables.scss";

.popup {
    position: absolute;
    // top: 25%;
    // left: calc(50% - 500px);
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 25%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    max-width: 1000px;
    visibility: hidden;
    width: 80%;
    background: var(#{--components-background-default});
    box-shadow: var(#{--card-shadow-default});
    border-radius: $border-radius;
    opacity: 0;
    transition: 0.5s;
}
.popup_active {
    @extend .popup;
    opacity: 1;
    visibility: visible;
}
.blur {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    transform: scale(0);
}
.blur_active {
    @extend .blur;
    transform: scale(1);
}

.close {
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 20px;
    svg {
        transition: 0.3s;
    }
    &:hover {
        svg {
            transform: rotate(360deg);
        }
    }
}
.day {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 20%;
    .temp_wrap {
        display: flex;
        justify-content: space-between;
    }
    .day_temp {
        font-weight: 500;
        font-size: 480%;
        color: $primary-color;
       
    }
    .day_name {
        font-size: 250%;
        line-height: 30px;
        color: var(#{--text-color-default});
        
    }
    .img {
        svg {
            width: 53px;
            height: 53px;
        }
       
    }
    .day_time {
        font-size: 140%;
        color: $base-color;
    }
    .day_city {
        font-size: 140%;
        color: $base-color;
    }
}
