@import "../../../../styles/variables.scss";

.this_day_info {
    position: relative;
    padding: 40px;
    // max-width: 0px;
    margin-left: 20px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    &:last-of-type {
        margin-bottom: 0;
    }
    .indicator,
    .indicator_name {
        margin-right: 20px;
    }
    .indicator {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
        border-radius: 50%;
    }
    .indicator_name {
        font-size: 140%;
        color: $base-color;
    }
    .indicator_value {
        font-size: 160%;
        color: var(#{--text-color-default});
    }
}
.cloud_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 202px;
    width: 400px;
    border-radius: $border-radius;
}

@media (orientation: portrait) {
    .this_day_info{
        margin-left: 0;
    }
    .cloud_img {
        visibility: hidden;
    }
    .this_day_info_items {
        .item {
            .indicator,
            .indicator_name {
                visibility: hidden;
                display: none;
            }
            .indicator_value{
                left: 0;
            }
        }
    }
}
