@import "../../styles/variables.scss";
.selected{
    width: 200px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
    svg{
        width: 65px;
        height: 65px;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: $primary-color;
}
.change_theme {
    margin-right: 20px;
    cursor: pointer;
}